In [48]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [49]:
df = pd.read_csv('car_emission.csv', encoding = 'ISO-8859-1')
df.head(7)

,Manufacturer,Model,Description,Transmission,Engine Capacity,Fuel Type,Electric energy consumption Miles/kWh,wh/km,Maximum range (Km),Maximum range (Miles),...,Emissions NOx [mg/km],THC + NOx Emissions [mg/km],Particulates [No.] [mg/km],Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33
0,ALFA ROMEO,"MiTo Series 3, September 2016 Onwards",1.3 JTDm-2 95 bhp,M5,1248.0,Diesel,NaN,NaN,NaN,NaN,...,67.0,100.0,0.27,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BMW,"1 Series 3-door F21, From September 2012",116d ED Plus 16'' tyres,M6,1496.0,Diesel,NaN,NaN,NaN,NaN,...,37.0,66.0,0.14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BMW,"1 Series 5-door F20, From September 2011",116d ED Plus 16'' tyres,M6,1496.0,Diesel,NaN,NaN,NaN,NaN,...,37.0,66.0,0.14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CITROEN,C4,BlueHDi 100 S&S,M5,1560.0,Diesel,NaN,NaN,NaN,NaN,...,55.0,74.0,0.42,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CITROEN,C4 Cactus,BlueHDi 100 S&S ETG6,AMT6,1560.0,Diesel,NaN,NaN,NaN,NaN,...,40.0,53.0,0.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,DACIA,"Logan MCV Euro6, 2015",dCi 90,M5,1461.0,Diesel,NaN,NaN,NaN,NaN,...,31.0,98.0,0.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,DACIA,Sandero Euro6 2015,dCi 90,M5,1461.0,Diesel,NaN,NaN,NaN,NaN,...,30.0,98.0,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5118 entries, 0 to 5117
Data columns (total 34 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Manufacturer                           5118 non-null   object
 1   Model                                  5118 non-null   object
 2   Description                            5118 non-null   object
 3   Transmission                           5086 non-null   object
 4   Engine Capacity                        5088 non-null   float64
 5   Fuel Type                              5118 non-null   object
 6   Electric energy consumption Miles/kWh  81 non-null     float64
 7   wh/km                                  81 non-null     float64
 8   Maximum range (Km)                     81 non-null     float64
 9   Maximum range (Miles)                  81 non-null     float64
 10  Metric Urban (Cold)                    5037 non-null   float64
 11  Metric Extra-Urban                     5037 non-null   float64
 12  Metric Combined                        5088 non-null   float64
 13  Imperial Urban (Cold)                  5037 non-null   float64
 14  Imperial Extra-Urban                   5037 non-null   float64
 15  Imperial Combined                      5088 non-null   float64
 16  CO2 g/km                               5118 non-null   int64
 17  Fuel Cost 12000 Miles                  5088 non-null   object
 18  Electricity cost                       81 non-null     object
 19  Total cost / 12000 miles               5118 non-null   object
 20  Euro Standard                          5118 non-null   int64
 21  Noise Level dB(A)                      5118 non-null   float64
 22  Emissions CO [mg/km]                   5088 non-null   float64
 23  THC Emissions [mg/km]                  2507 non-null   float64
 24  Emissions NOx [mg/km]                  5088 non-null   float64
 25  THC + NOx Emissions [mg/km]            2582 non-null   float64
 26  Particulates [No.] [mg/km]             2589 non-null   float64
 27  Unnamed: 27                            0 non-null      float64
 28  Unnamed: 28                            0 non-null      float64
 29  Unnamed: 29                            0 non-null      float64
 30  Unnamed: 30                            0 non-null      float64
 31  Unnamed: 31                            0 non-null      float64
 32  Unnamed: 32                            0 non-null      float64
 33  Unnamed: 33                            0 non-null      float64
dtypes: float64(24), int64(2), object(8)
memory usage: 1.3+ MB

In [51]:
df.describe()

,Engine Capacity,Electric energy consumption Miles/kWh,wh/km,Maximum range (Km),Maximum range (Miles),Metric Urban (Cold),Metric Extra-Urban,Metric Combined,Imperial Urban (Cold),Imperial Extra-Urban,...,Emissions NOx [mg/km],THC + NOx Emissions [mg/km],Particulates [No.] [mg/km],Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33
count,5088.000000,81.000000,81.000000,81.000000,81.000000,5037.000000,5037.000000,5088.000000,5037.000000,5037.000000,...,5088.000000,2582.000000,2589.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,1986.814465,8.002469,137.864198,169.580247,105.246914,6.905182,4.805579,5.544929,45.362220,61.687314,...,37.200865,79.331526,0.316748,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,806.608051,12.046514,54.757135,184.336368,114.566087,2.760090,1.214175,1.776506,12.862403,12.615114,...,21.062978,22.137153,0.340874,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,647.000000,2.300000,11.000000,30.000000,18.000000,0.000000,0.000000,0.600000,0.000000,0.000000,...,1.000000,19.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,1499.000000,3.400000,117.000000,39.000000,24.000000,5.200000,4.000000,4.400000,36.700000,53.300000,...,22.000000,67.000000,0.060000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,1968.000000,4.700000,132.000000,50.000000,31.000000,6.100000,4.500000,5.100000,46.300000,62.800000,...,35.000000,79.000000,0.200000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,1998.000000,5.300000,185.000000,280.000000,174.000000,7.700000,5.300000,6.100000,54.300000,70.600000,...,51.000000,93.000000,0.490000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,6752.000000,56.500000,269.000000,632.000000,393.000000,25.600000,12.100000,17.000000,97.400000,104.600000,...,726.000000,154.000000,3.050000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
df.dropna(how = 'all',inplace = True)

In [53]:
df.isnull().sum()

Manufacturer                                0
Model                                       0
Description                                 0
Transmission                               32
Engine Capacity                            30
Fuel Type                                   0
Electric energy consumption Miles/kWh    5037
wh/km                                    5037
Maximum range (Km)                       5037
Maximum range (Miles)                    5037
Metric Urban (Cold)                        81
Metric Extra-Urban                         81
Metric Combined                            30
Imperial Urban (Cold)                      81
Imperial Extra-Urban                       81
Imperial Combined                          30
CO2 g/km                                    0
Fuel Cost 12000 Miles                      30
Electricity cost                         5037
Total cost / 12000 miles                    0
Euro Standard                               0
Noise Level dB(A)                           0
Emissions CO [mg/km]                       30
THC Emissions [mg/km]                    2611
Emissions NOx [mg/km]                      30
THC + NOx Emissions [mg/km]              2536
Particulates [No.] [mg/km]               2529
Unnamed: 27                              5118
Unnamed: 28                              5118
Unnamed: 29                              5118
Unnamed: 30                              5118
Unnamed: 31                              5118
Unnamed: 32                              5118
Unnamed: 33                              5118
dtype: int64

In [54]:
df.dropna(how = 'all',inplace = True)

In [55]:
df.drop(['Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Electric energy consumption Miles/kWh','wh/km','Maximum range (Km)','Maximum range (Miles)','Electricity cost'], axis=1, inplace=True)

In [56]:
df = df.loc[:, df.isin([' ','NULL',0]).mean() < .6]
df.head()

,Manufacturer,Model,Description,Transmission,Engine Capacity,Fuel Type,Metric Urban (Cold),Metric Extra-Urban,Metric Combined,Imperial Urban (Cold),...,CO2 g/km,Fuel Cost 12000 Miles,Total cost / 12000 miles,Euro Standard,Noise Level dB(A),Emissions CO [mg/km],THC Emissions [mg/km],Emissions NOx [mg/km],THC + NOx Emissions [mg/km],Particulates [No.] [mg/km]
0,ALFA ROMEO,"MiTo Series 3, September 2016 Onwards",1.3 JTDm-2 95 bhp,M5,1248.0,Diesel,4.3,2.9,3.4,65.7,...,89,Â£807,Â£807,6,67.5,234.0,NaN,67.0,100.0,0.27
1,BMW,"1 Series 3-door F21, From September 2012",116d ED Plus 16'' tyres,M6,1496.0,Diesel,3.9,3.1,3.4,72.4,...,89,Â£807,Â£807,6,68.0,119.0,NaN,37.0,66.0,0.14
2,BMW,"1 Series 5-door F20, From September 2011",116d ED Plus 16'' tyres,M6,1496.0,Diesel,3.9,3.1,3.4,72.4,...,89,Â£807,Â£807,6,68.0,119.0,NaN,37.0,66.0,0.14
3,CITROEN,C4,BlueHDi 100 S&S,M5,1560.0,Diesel,3.7,3.1,3.3,76.3,...,86,Â£784,Â£784,6,68.8,272.0,NaN,55.0,74.0,0.42
4,CITROEN,C4 Cactus,BlueHDi 100 S&S ETG6,AMT6,1560.0,Diesel,3.9,3.2,3.4,72.4,...,89,Â£807,Â£807,6,69.2,185.0,NaN,40.0,53.0,0.03

In [57]:
df['Total cost / 12000 miles'] = df['Total cost / 12000 miles'].apply(lambda x : str(x).replace("Â£",""))
df['Fuel Cost 12000 Miles'] = df['Fuel Cost 12000 Miles'].apply(lambda x : str(x).replace("Â£",""))

df['Total cost / 12000 miles'] = df['Total cost / 12000 miles'].str.replace(",","").astype(float)
df['Fuel Cost 12000 Miles'] = df['Fuel Cost 12000 Miles'].str.replace(",","").astype(float)

In [62]:
df['Emissions NOx [mg/km]'].fillna(df['Emissions NOx [mg/km]'].mean(),inplace=True)
df['Imperial Combined'].fillna(df['Imperial Combined'].mean(),inplace=True)
df['Metric Urban (Cold)'].fillna(df['Metric Urban (Cold)'].mean(),inplace=True)
df['Metric Extra-Urban'].fillna(df['Metric Extra-Urban'].mean(),inplace=True)
df['Engine Capacity'].fillna(df['Engine Capacity'].mean(),inplace=True)
df['Metric Combined'].fillna(df['Metric Combined'].mean(),inplace=True)
df['Imperial Urban (Cold)'].fillna(df['Imperial Urban (Cold)'].mean(),inplace=True)
df['Imperial Extra-Urban'].fillna(df['Imperial Extra-Urban'].mean(),inplace=True)
df['Fuel Cost 12000 Miles'].fillna(df['Fuel Cost 12000 Miles'].mean(),inplace=True)
df['Emissions CO [mg/km]'].fillna(df['Emissions CO [mg/km]'].mean(),inplace=True)
df['THC Emissions [mg/km]'].fillna(df['THC Emissions [mg/km]'].mean(),inplace=True)
df['THC + NOx Emissions [mg/km]'].fillna(df['THC + NOx Emissions [mg/km]'].mean(),inplace=True)
df['Particulates [No.] [mg/km]'].fillna(df['Particulates [No.] [mg/km]'].mean(),inplace=True)
df['Transmission'].fillna(method='bfill', inplace=True)

In [63]:
df.isnull().sum()

Manufacturer                   0
Model                          0
Description                    0
Transmission                   0
Engine Capacity                0
Fuel Type                      0
Metric Urban (Cold)            0
Metric Extra-Urban             0
Metric Combined                0
Imperial Urban (Cold)          0
Imperial Extra-Urban           0
Imperial Combined              0
CO2 g/km                       0
Fuel Cost 12000 Miles          0
Total cost / 12000 miles       0
Euro Standard                  0
Noise Level dB(A)              0
Emissions CO [mg/km]           0
THC Emissions [mg/km]          0
Emissions NOx [mg/km]          0
THC + NOx Emissions [mg/km]    0
Particulates [No.] [mg/km]     0
dtype: int64

In [65]:
from sklearn.preprocessing import LabelEncoder
encode=LabelEncoder()
for i in ['Transmission','Fuel Type']:
  df[i]=encode.fit_transform(df[i])

In [66]:
df.head()

,Manufacturer,Model,Description,Transmission,Engine Capacity,Fuel Type,Metric Urban (Cold),Metric Extra-Urban,Metric Combined,Imperial Urban (Cold),...,CO2 g/km,Fuel Cost 12000 Miles,Total cost / 12000 miles,Euro Standard,Noise Level dB(A),Emissions CO [mg/km],THC Emissions [mg/km],Emissions NOx [mg/km],THC + NOx Emissions [mg/km],Particulates [No.] [mg/km]
0,ALFA ROMEO,"MiTo Series 3, September 2016 Onwards",1.3 JTDm-2 95 bhp,29,1248.0,0,4.3,2.9,3.4,65.7,...,89,807.0,807.0,6,67.5,234.0,41.69645,67.0,100.0,0.27
1,BMW,"1 Series 3-door F21, From September 2012",116d ED Plus 16'' tyres,31,1496.0,0,3.9,3.1,3.4,72.4,...,89,807.0,807.0,6,68.0,119.0,41.69645,37.0,66.0,0.14
2,BMW,"1 Series 5-door F20, From September 2011",116d ED Plus 16'' tyres,31,1496.0,0,3.9,3.1,3.4,72.4,...,89,807.0,807.0,6,68.0,119.0,41.69645,37.0,66.0,0.14
3,CITROEN,C4,BlueHDi 100 S&S,29,1560.0,0,3.7,3.1,3.3,76.3,...,86,784.0,784.0,6,68.8,272.0,41.69645,55.0,74.0,0.42
4,CITROEN,C4 Cactus,BlueHDi 100 S&S ETG6,20,1560.0,0,3.9,3.2,3.4,72.4,...,89,807.0,807.0,6,69.2,185.0,41.69645,40.0,53.0,0.03

In [68]:
X = df[['Transmission', 'Engine Capacity', 'Fuel Type', 'Metric Combined', 'Imperial Combined']]  
y = df['Emissions CO [mg/km]']

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [69]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train, y_train)

LinearRegression()

In [78]:
y_predict = model.predict(x_test)
y_predict

array([367.04215174, 310.54358095, 322.73246273, ..., 344.84833764,
       315.14859584, 153.99289515])

0.275